name: test-and-publish

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: |
        sudo apt-get install -y mongodb redis-server
        git config --global user.name "${{ secrets.NAME }}"
        git config --global user.email "${{ secrets.EMAIL }}"
        npm version patch
        npm install
        npm install faker puppeteer@2.1.1 @userdashboard/dashboard @userdashboard/organizations @userdashboard/storage-redis --no-save
        npm install -g mocha standard
        mkdir -p node_modules/@userdashboard/storage-mongodb
        rm -rf node_modules/@userdashboard/storage-mongodb/src
        cp *.js node_modules/@userdashboard/storage-mongodb
        cp -R src/ node_modules/@userdashboard/storage-mongodb/src/
        PACKAGE=`cat package.json`
        PACKAGE=${PACKAGE/\"description\"\: \"\"/\"dashboard\": \{ \"modules\"\: \[\"@userdashboard/organizations\"\] \}}
        echo $PACKAGE > package.json
    - name: Lint (standard.js)
      run: standard src
    - name: Test as shared storage
      run: mocha --file test-helper.js --bail --exit --full-trace --recursive --timeout 90000000 "./node_modules/@userdashboard/**/{,!(public)}/*.test.js" | tee tests.txt
      env:
        NODE_ENV: testing
        FAST_START: true
        DASHBOARD_SERVER: "http://localhost:9000"
        DOMAIN: "localhost"
        STORAGE: "@userdashboard/storage-mongodb"
        MONGODB_URL: "mongodb://localhost:27017"
        GENERATE_SITEMAP_TXT: false
        GENERATE_API_TXT: false
    - name: Test as primary storage
      run: mocha --file test-helper.js --bail --exit --full-trace --recursive --timeout 90000000 "./node_modules/@userdashboard/**/{,!(public)}/*.test.js"
      env:
        NODE_ENV: testing
        FAST_START: true
        DASHBOARD_SERVER: "http://localhost:9000"
        DOMAIN: "localhost"
        STORAGE: "@userdashboard/storage-mongodb"
        MONGODB_URL: "mongodb://localhost:27017"
        ORGANIZATIONS_STORAGE: "@userdashboard/storage-redis"
        ORGANIZATIONS_REDIS_URL: "redis://localhost:6379"
        GENERATE_SITEMAP_TXT: false
        GENERATE_API_TXT: false
    - name: Test as module storage
      run: mocha --file test-helper.js --bail --exit --full-trace --recursive --timeout 90000000 "./node_modules/@userdashboard/**/{,!(public)}/*.test.js"
      env:
        NODE_ENV: testing
        FAST_START: true
        DASHBOARD_SERVER: "http://localhost:9000"
        DOMAIN: "localhost"
        STORAGE: "@userdashboard/storage-redis"
        REDIS_URL: "redis://localhost:6379"
        ORGANIZATIONS_STORAGE: "@userdashboard/storage-mongodb"
        ORGANIZATIONS_MONGODB_URL: "mongodb://localhost:27017"
        GENERATE_SITEMAP_TXT: false
        GENERATE_API_TXT: false
    - name: Test as primary and separately as module storage
      run: mocha --file test-helper.js --bail --exit --full-trace --recursive --timeout 90000000 "./node_modules/@userdashboard/**/{,!(public)}/*.test.js"
      env:
        NODE_ENV: testing
        FAST_START: true
        DASHBOARD_SERVER: "http://localhost:9000"
        DOMAIN: "localhost"
        STORAGE: "@userdashboard/storage-mongodb"
        MONGODB_URL: "mongodb://localhost:27017/database1"
        ORGANIZATIONS_STORAGE: "@userdashboard/storage-mongodb"
        ORGANIZATIONS_MONGODB_URL: "mongodb://localhost:27017/database2"
        GENERATE_SITEMAP_TXT: false
        GENERATE_API_TXT: false
    - name: Publish to Github
      uses: stefanzweifel/git-auto-commit-action@v4.1.6
      with:
        commit_message: Automatically regenerated against current version
        branch: ${{ github.head_ref }}
        commit_options: '--no-verify --signoff'
        repository: .
    - name: Publish to NPM
      uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }} 